.page.class .class-info p{
    font-weight: 300;
    margin: 10px 0;
}

.page.class .class-info a.meeting-link{
    color: #1B1BBA;
    text-decoration: underline;
}

.page.class .class-info .info-title{
    font-weight: 700;
    margin-right: 5px;
}

.page.class .class-info .schedule{
    display: block;
    text-indent: 20px;
    font-weight: 300;
}


.page.class .upcoming-assignments{
    margin-top: 100px;
}

.page.class .upcoming-assignments p.assignment, .page.class .upcoming-assignments p.due-date{
    font-size: 14px;
}

.page.class .upcoming-assignments p.assignment{
    color: #1B1BBA;
    font-weight: 700;
}