.start-class-modal{
    width: 90%;
    max-width: 450px;
    margin: auto;
    border-radius: 16px;
    padding: 20px;
    border: var(--class-border, none);
    box-shadow: var(--class-box-shadow, 1px 1px 5px grey);
    background-color: var(--class-bg-color, white);
}

.input-container.meeting{
    padding-top: 50px;
    padding-bottom: 100px;
}