.page .misc-col .class-list{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page .misc-col .class-list .class-item{
    width: 48%;
    text-align: center;
    margin-bottom: 20px;
}

.page.dashboard .filters-search-container{
    display: flex;
}

.filters-search-container .filters-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.filters-container .input-container.select{
    width: 150px;
}

.filters-search-container .search-container{
    width: 200px;
    margin-left: 20px;
}