.dashboard-class-container{
    position: relative;
    padding: 20px;
    border-radius: 8px;
    border: var(--class-border, none);
    box-shadow: var(--class-box-shadow, 1px 1px 5px grey);
    background-color: var(--class-bg-color, white);
}

.dashboard-class-container .class-subject{
    font-weight: 600;
    font-size: 17px;
}

.dashboard-class-container .class-schedule{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 600;
}

.dashboard-class-container .class-image{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    border-radius: 8px;
    overflow: hidden;
}

.dashboard-class-container .class-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-class-container .active-class{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: chartreuse;
    box-shadow: 0px 0px 5px chartreuse;
    animation: blink 2s infinite linear;
}