:root{
  --input-height: 56px;
  --input-bgcolor: #F6F6F6;
  --input-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.3);
  --primary-button-bgcolor: #FDCB9E;
  --primary-button-hover-bgcolor: #E4A771;
  --secondary-button-bgcolor: #CCEABB;
  --secondary-button-hover-bgcolor: #699F49;
  --warning-button-bgcolor: #FFCC00;
  --warning-button-hover-bgcolor: #DDAA00;
  --error-button-bgcolor: #ff3366;
  --error-button-hover-bgcolor: #ff0066;
  --text-color: #3F3F44;
  --active-nav-link-bgcolor: #CCEABB;
  --active-nav-link-text-color: #699F49;
  --tag-bgcolor: #CCEABB;
  --tag-border-color: #CCEABB;
  --tag-border-width: 0px;
  --tag-text-color: #3F3F44;
  --input-border-radius: 8px;
  --file-input-border-color: #99C183;
  --file-input-text-color: #99C183;
}

.App {
  font-family: "Worker Sans", sans-serif;
}

.not-visible{
  opacity: 0;
  visibility: hidden;
}

.rotate-30{
  transform: rotateZ(30deg);
}

.rotate-45{
  transform: rotateZ(45deg);
}

.rotate-60{
  transform: rotateZ(60deg);
}

.rotate-90{
  transform: rotateZ(90deg);
}

.rotate-180{
  transform: rotateZ(180deg);
}


.flip-up{
  transform: rotateX(-180deg);
}

.flip-down{
  transform: rotateX(180deg);
}

.flip-left{
  transform: rotateY(-180deg);
}

.flip-right{
  transform: rotateY(180deg);
}

.print-only{
  display: none!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clickable{
  cursor: pointer;
}

.page{
  position: relative;
  width: 95%;
  max-width: 1290px;
  min-height: 100vh;
  /* height: 100vh; */
  margin: 0 auto;
  color: #3F3F44;
}

.circle{
  aspect-ratio: 1;
  border-radius: 50%;
}

.absolute-fill{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.highlight{
  color: #FDCB9E;
}

.input-container{
  vertical-align: top;
  position: relative;
  margin: 15px 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: flex-start;
  text-align: left;
  transform: translateY(0);
  transition: transform .300s, margin .300s, max-height .300s, opacity .300s;
  max-height: 200px;
}

.input-container.fullheight{
  max-height: unset;
}

.input-container.hide{
  margin: 0;
  max-height: 0;
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
}

.input-container.select{
  z-index: 2;
}

.input-container.select:focus-within{
  z-index: 3;
}

.fullwidth{
  width: 100%!important;
}

.input-container label{
  margin-bottom: 10px;
  width: 100%;
}

.input-container > input, .input-container > select, .input-container > textarea, .input-container .MuiSelect-select, .input-container .MuiTextField-root{
  padding: 10px;
  border-radius: 8px;
  height: 56px;
  width: 100%;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.3);
}

.input-container .MuiTextField-root{
  border: none;
  padding: 0;
}

.input-container input[type=file]::file-selector-button{
  display: none;
}

.input-container input[type=file]::-ms-browse{
  display: none;
}

.input-container input[type="file"]{
  /* border: 2px dashed #CCEABB; */
  min-height: 120px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23CCEABB' stroke-width='3' stroke-dasharray='14%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: rgba(245, 249, 242, 0.8);
  color: transparent;
}

.input-container.file-input .upload-content-container{
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--file-input-text-color, #99C183);
  pointer-events: none;
  border-radius: 8px;
  padding: 20px;
}

.input-container.file-input .upload-content-container p.upload-cover-text{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
}

.input-container.file-input .upload-content-container p.upload-drop-text{
  font-size: 12px;
  font-weight: 300;
}

.input-container.file-input .upload-content-container .add-icon-container{
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--file-input-border-color, #99C183);
  margin-right: 20px;
  flex-shrink: 0;
  aspect-ratio: 1;
}

.input-container.file-input label{
  visibility: hidden;
}

.input-container .MuiOutlinedInput-notchedOutline{
  border: none;
}

.input-container .input-adornment{
  position: absolute;
  top: calc(100% - 56px);
  height: 100%;
  max-height: 56px;
  width: 40px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-adornment.start{
  left: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.input-adornment.end{
  right: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.button{
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  /* font-size: 15px; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Worker Sans", sans-serif;
}

.button .icon.left{
  margin-right: 10px;
}

.button .icon.right{
  margin-left: 10px;
}

.button.primary{
  background-color: var(--primary-button-bgcolor, #FDCB9E);
  color: #3F3F44;
}

.button.primary:hover, .button.primary:focus{
  background-color: var(--primary-button-hover-bgcolor, #e4a771);
}

.button.secondary{
  background-color: #CCEABB;
  color: #3F3F44;
}

.button.secondary:hover, .button.secondary:focus{
  background-color: #AACA99;
}

.button.clear{
  border: 2px solid #3F3F44;
  color: #3F3F44;
  background-color: transparent;
}

.button.clear:hover, .button.clear:focus{
  background-color: rgba(255,255,255,0.2);
}

.button.error{
  background-color: #ff3366;
  color: #FFF;
}

.button.error:hover, .button.error:focus{
  background-color: #ff0066;
}

.button.warning{
  background-color: #FFCC00;
  color: #FFF;
}

.button.warning:hover, .button.warning:focus{
  background-color: #DDAA00;
}

.button:disabled{
  background-color: #ccc!important;
  cursor: default;
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  box-sizing: content-box;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 2.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

p.error{
  font-size: 14px;
  color: #8B000D;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print{
  @page { margin: 0; }

  body { margin: 1.6cm; }

  input, .MuiTextField-root{
    border: none!important;
    box-shadow: none!important;
  }

  button, .button, .MuiButton-root{
    display: none!important;
  }

  .print-only{
    display: block;
    opacity: 1;
  }

  .no-print{
    visibility: hidden;
    display: none!important;
  }
}
